html {
    zoom: 90%;
}
/* body {
    background-image: url(/background.jpg);
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: auto;
} */

body {
    background-color: #0A1929!important;
    font-family: 'Ubuntu', sans-serif!important;
    padding: 2%;
    /* color: whitesmoke!important; */
}

#line_chart_area {
    color: whitesmoke;
}

h1 {
    color: aliceblue!important;
    text-align: center;
}

/* lottie-player.main_logo{
    margin-left: 35%;
} */

.line_chart_area_title {
    color: whitesmoke;
}

.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.table {
    color: whitesmoke!important;
}

thead tr {
    background-color: rgba(245, 245, 245, 0.295)!important;
    color: whitesmoke!important;
}

tr:hover {
    background-color: rgba(245, 245, 245, 0.295)!important;
    color: whitesmoke!important;
}

.circular_viz_moon {
    margin-bottom: -20%;
}

.circular_viz_sun {
    margin-top: -18.5%;
}

label {
    color: whitesmoke;
}

#range-slider {
    align-self: center;
    border-radius:5px;
    background-color:#30363E;
    padding: 15px;
    width: 100%;
}

.hovered-line {
    background-color: rgba(245, 245, 245, 0.295);
}